RESEND_API_KEY= <YOUR API KEY>
RESEND_FROM_ADDRESS="authLearn <onboarding@render.dev>"

DB_URL=Db url
DB_USERNAME=username
DB_PASSWORD=password

JWT_ACCESS_SECRET=<your jwt secret>
JWT_ACCESS_EXPIRY_MS=900000
JWT_REFRESH_EXPIRY_MS=604800000

APP_BASE_URL=http://localhost:8080